section#aside {
    width: 215px;
    float: left;
    margin-top: 15px;
    font-weight: bold;
}

section#aside #aside_title{
    padding: 12px;
    background-color: #96c11f;
    color: #ffffff;
    text-align: center;
}

section#aside li{
    color: #666666;
    padding: 7px 0 7px 30px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;

}

section#aside #customer{
    width: 213px;
    height: 100px;
    margin-top: 20px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
}

section#aside #customer img {
    margin: 5px 0 0 5px;
}